spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:ehelperDB;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
