<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Details utilisateur</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Détails de l'utilisateur</h1>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
    </section>
</body>
</html>