<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
    <!-- tag :: userTableRows -->
    <tbody th:fragment="userTableRows (userSlice)" id="userTableBody"
        hx-trigger="reload-users from:body" th:hx-get="@{/users/slice}"
        hx-target="this"
        hx-swap="outerHTML transition:true"
    >
    <th:block th:if="${#lists.isEmpty(userSlice.content)}">
        <tr>
            <td colspan="4" class="px-6 py-4 text-sm text-granite-900">
                <th:block th:replace="~{commons/fragments :: noDataFound('Aucun utilisateur trouvé.')}"></th:block>
            </td>
        </tr>
    </th:block>
    <th:block th:unless="${#lists.isEmpty(userSlice.content)}">
        <tr th:each="appUser : ${userSlice.content}" th:object="${appUser}"
            class="hover:bg-granite-50 transition-colors border-b border-granite-200"
        >
            <td class="px-6 py-4 text-granite-900">
                <div class="flex items-center gap-3">
                    <div class="bg-granite-600 text-white w-10 h-10 rounded-full flex items-center justify-center text-sm font-semibold">
                        <span th:text="${#strings.substring(appUser.firstName, 0, 1) + #strings.substring(appUser.lastName, 0, 1)}"></span>
                    </div>
                    <span class="font-medium" th:text="${appUser.firstName + ' ' + appUser.lastName}"></span>
                </div>
            </td>
            <td class="px-6 py-4 text-sm text-granite-900" th:text="${appUser.email}"></td>
            <td class="px-6 py-4 text-sm text-granite-900" th:text="${appUser.telephone}"></td>
            <td class="px-6 py-4 text-granite-700 hover:text-granite-900">
                <th:block layout:replace="~{commons/dropdown :: dropdown()}">
                    <th:block layout:fragment="trigger-content">
                        <button 
                            x-ref="button"
                            @click="toggle()"
                            :aria-expanded="open"
                            :aria-controls="$id('dropdown-button')"
                            type="button"
                            class=" border rounded-full border-granite-200 cursor-pointer transition-colors">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>
                        </button>
                    </th:block>
                    <th:block layout:fragment="content">
                        <div class="py-1">
                            <button
                                type="button"
                                class="w-full text-left flex items-center gap-2 px-4 py-2 text-sm text-granite-700 hover:bg-granite-100 transition-colors"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
    
                                <span>Voir profil</span>
                            </button>
                            <button
                                type="button"
                                class="w-full text-left flex items-center gap-2 px-4 py-2 text-sm text-granite-700 hover:bg-granite-100 transition-colors"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                </svg>
                                <span>Modifier</span>
                            </button>
                            <button type="button"
                                th:attr="data-user-id=${appUser.id}"
                                class="w-full text-left flex items-center gap-2 px-4 py-2 text-sm text-granite-700 hover:bg-granite-100 transition-colors"
                            >
                                <span th:if="true"
                                    class="flex items-center gap-2"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-7.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m12 0a48.667 48.667 0 0 1-12 0" />
                                    </svg>
                                    <span>Désactiver</span>
                                </span>
                                <span th:if="false"
                                    class="flex items-center gap-2"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0 0 11.386 0l3.182-3.183m0 0h-4.991m4.992 0v4.992M16.023 4.665h4.992m-9.963 0h4.991m-4.992 0v4.992M2.985 9.348h4.992" />
                                    </svg>
                                    <span>Activer</span>
                                </span>
                            </button>
                        </div>
                    </th:block>
                </th:block>
            </td>
        </tr>
    </th:block>

    </tbody>
    <!-- endtag :: userTableRows -->

    <!-- tag :: userTablePagination -->
    <div th:fragment="userTablePagination"
        id="userTablePagination"
        class="mt-4 flex justify-end intems-center gap-2"
        hx-swap-oob="true"
    >
        <button type="button"
            th:hx-get="@{/users/slice(page=${sliceCursor.prevPage}, size=${sliceCursor.size})}"
            hx-target="#userTableBody"
            hx-trigger="click"
            hx-swap="outerHTML transition:true"
            th:disabled="${userSlice.isFirst}"
            class="px-4 py-2 rounded text-sm font-medium flex items-center gap-2 transition-colors
             bg-granite-200 hover:bg-granite-300 text-granite-800 hover:cursor-pointer"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            <span class="text-sm">Précedent</span>
        </button>
        <button type="button"
            th:hx-get="@{/users/slice(page=${sliceCursor.nextPage}, size=${sliceCursor.size})}"
            hx-target="#userTableBody"
            hx-trigger="click"
            hx-swap="outerHTML transition:true"
            th:disabled="${userSlice.isLast}"
            class="px-4 py-2 rounded text-sm font-medium flex items-center gap-2 transition-colors
             bg-granite-200 hover:bg-granite-300 text-granite-800 hover:cursor-pointer"
        >
            <span class="text-sm">Suivant</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </button>
    </div>
    <!-- endtag :: userTablePagination -->

    <!-- tag :: previewUploadBatchForm -->
    <th:block th:fragment="previewUploadBatchForm">
        <template x-teleport="body">
            <div x-show="showPreviewModal" class="fixed inset-0 flex items-center 
              justify-center bg-black/25 z-50"
            >
              <!-- tag :: preview users to import modal -->
              <div x-show="!importSuccess" class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center gap-4">
                <h2 class="mx-6 text-lg font-semibold text-granite-900 w-full">Aperçu des utilisateurs à importer</h2>
                <template x-if="errors.length > 0">
                  <div class="w-full bg-red-50 border border-red-200 text-red-900 p-2 rounded mb-4">
                      <ul class="list-disc list-inside text-sm">
                        <template x-for="error in errors">
                          <li x-text="error"></li>
                        </template>
                      </ul>
                  </div>
                </template>
                <div class="border border-granite-200 rounded-lg overflow-hidden">
                  <table>
                    <caption class="caption-bottom text-sm my-3 text-granite-700">
                      Nombre total d'utilisateurs à importer : <span x-text="users.length"></span>
                    </caption>
                    <thead>
                      <tr>
                        <th class="px-6 py-3 text-left text-sm bg-granite-100 font-bold text-granite-800">Civilité</th>
                        <th class="px-6 py-3 text-left text-sm bg-granite-100 font-bold text-granite-800">Nom</th>
                        <th class="px-6 py-3 text-left text-sm bg-granite-100 font-bold text-granite-800">Prénom</th>
                        <th class="px-6 py-3 text-left text-sm bg-granite-100 font-bold text-granite-800">E-mail</th>
                        <th class="px-6 py-3 text-left text-sm bg-granite-100 font-bold text-granite-800">Téléphone</th>
                        <th class="px-6 py-3 text-left text-sm bg-granite-100 font-bold text-granite-800">Date de naissance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <template x-for="user in users" :key="user.email">
                        <tr class="hover:bg-granite-50 transition-colors border-b border-granite-200">
                          <td class="px-6 py-4 text-sm text-granite-900" x-text="user.gender"></td>
                          <td class="px-6 py-4 text-sm text-granite-900" x-text="user.lastName"></td>
                          <td class="px-6 py-4 text-sm text-granite-900" x-text="user.firstName"></td>
                          <td class="px-6 py-4 text-sm text-granite-900" x-text="user.email"></td>
                          <td class="px-6 py-4 text-sm text-granite-900" x-text="user.telephone"></td>
                          <td class="px-6 py-4 text-sm text-granite-900" x-text="user.birthDate"></td>
                        </tr>
                      </template>
                      <template x-if="users.length === 0">
                        <tr class="border-b border-granite-200">
                          <td colspan="6" class="px-6 py-4 text-sm text-granite-900 text-center">
                           Fichier invalide ou aucun utilisateur à importer.
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
                <div class="mt-4 flex gap-4">
                  <button @click="resetAll()"
                    class="px-3 py-2 rounded-lg font-medium transition-colors cursor-pointer
                    hover:bg-granite-100 border border-granite-500 text-granite-700"
                  >
                    Annuler
                  </button>
                  <button
                    class="px-4 py-2 rounded-lg transition-colors font-medium bg-granite-300 text-granite-500 cursor-not-allowed flex items-center gap-2"
                    :class="{ 'bg-granite-600 text-white hover:bg-granite-700 cursor-pointer': errors.length <= 0 && !loading }"
                    @click="loading = true; $refs.uploadUserBatchForm.requestSubmit();"
                    :disabled="loading || errors.length > 0"
                  >
                    <svg x-show="!loading" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                    </svg>
                    <span >Confirmer l'import</span>
                    <svg x-show="loading" class="animate-spin size-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- endTag :: preview users to import modal -->

              <!-- Import success message -->
              <div x-show="importSuccess" class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center gap-4 relative">
                <div id="successMessage"></div>
                <!-- tag :: indicator modal closing in 3 seconds -->
                <div class="absolute bottom-0 right-0 bg-granite-200 w-full h-1 rounded-lg">
                  <div id="progressFill" class="bg-granite-600 h-full rounded-lg" style="width: 100%"></div>
                </div>
                <!-- endTag :: indicator modal closing in 3 seconds -->
              </div>
              <!-- endTag :: Import success message -->
            </div>
        </template>
    </th:block>
    <!-- endtag :: previewUploadBatchForm -->
</html>