@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-white: #fff;
    --color-black: #000;
    --color-purple: #3f3cbb;
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
}