<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4">[[#{home.index.headline}]]</h1>
            <p class="mb-5">[(#{home.index.text})]</p>
            <div class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                <img class="size-12 shrink-0" th:src="@{/images/logo.png}" alt="ChitChat Logo" />
                <div>
                    <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
                    <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
                </div>
            </div>
        </div>
    </body>
</html>
